* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  height: 100vh;
}

.header h1 {
  text-align: center;
  padding: 40px;
  color: brown;
}

.colorBtn {
  width: 800px;
  height: 50px;
  background-color: wheat;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorBtn button {
  margin: 50px;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  box-shadow: 0px 5px;
  outline: none;
  transition: top 0.1s;
  cursor: pointer;
}

.colorBtn button:active {
  transform: translateY(5px);
}
